site_name: Next Gen UI Agent

repo_name: RedHat-UX/next-gen-ui-agent
repo_url: https://github.com/RedHat-UX/next-gen-ui-agent

plugins:
  - include-markdown
  - search

theme:
  name: material
  palette:
  - media: "(prefers-color-scheme)"
    scheme: default
    toggle:
      icon: material/lightbulb-auto-outline
      name: "Auto mode"
  - media: "(prefers-color-scheme: light)"
    scheme: default
    toggle:
      icon: material/lightbulb-on
      name: "Light mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/lightbulb-off
      name: "Dark mode"
  features:
    - navigation.indexes
    - navigation.footer
    - navigation.instant
    - navigation.sections
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.top
    - navigation.prune
    - navigation.tracking
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition

# https://www.mkdocs.org/user-guide/configuration/#validation
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

nav:
  - Get started:
    - index.md
    - Quickstarts:
      - LangGraph & web components: quickstart/langgraph_web_components.md
    - AI application development:
      - installation.md
  - Guides:
    - Core concepts:
      - guide/architecture.md
      - Input Data:
        - guide/input_data/index.md
        - Structures: guide/input_data/structure.md
        - Charts structures: guide/input_data/charts.md
        - Transformation: guide/input_data/transformation.md
      - guide/llm.md
      - Data UI Blocks:
        - guide/data_ui_blocks/index.md
        - Dynamic Components: guide/data_ui_blocks/dynamic_components.md
        - guide/data_ui_blocks/hand_build_components.md
      - guide/configuration.md
    - Binding into AI application: 
      - guide/ai_apps_binding/index.md
      - Python Library: guide/ai_apps_binding/pythonlib.md
      - Llama Stack: guide/ai_apps_binding/llamastack.md
      - Llama Stack Embedded Server: guide/ai_apps_binding/llamastack_embedded.md
      - LangGraph: guide/ai_apps_binding/langgraph.md
      - MCP Server Library: guide/ai_apps_binding/mcp-library.md
      - MCP Server Container: guide/ai_apps_binding/mcp-container.md
      - A2A Server Library: guide/ai_apps_binding/a2a-library.md
      - A2A Server Container: guide/ai_apps_binding/a2a-container.md
      - BeeAI: guide/ai_apps_binding/beeai.md
      
    - Binding into UI:
      - guide/renderer/index.md
      - Server-Side renderer:
        - Implementing: guide/renderer/implementing_serverside.md
        - RHDS/Web Components: guide/renderer/rhds.md
      - Client-Side renderer:
        - PatternFly/React NPM: guide/renderer/patternfly_npm.md
    - Development:
      - Contributing: development/contributing.md
      - Running Llama Stack: development/llama_stack.md
  - Reference:
    - spec/component.md
    - spec/config.md
    - spec/output.md
    - spec/mcp.md
    - spec/a2a.md
    - Changelog:
      - changelog/index.md
      - changelog/release_notes.md
    
  - Examples:
    - example/langgraph_movies.md
    