# Change also commitizen version in .github/workflows/pants.yaml and also the commitizen-action used there!
commitizen==4.10.0
cz_github_jira_conventional==3.0.2
pre-commit
twine
mkdocs-material
mkdocs-include-markdown-plugin
