{# RHDS Table component from https://ux.redhat.com/elements/card/ #}
{# TODO: We're currently not using call to action link #}
{# TODO: Image doesn't work properly so adding additional <div id="one-card-image-text"> and little bit styling#}

<rh-card class="image-card">
  <h2 slot="header">{{title}}</h2>
  {% if image %}
  <div class="img">
    <img src="{{image}}" slot="image" alt="{{title}}">
  </div>
  {% endif %}
</rh-card>

<script type="module">
  import '@rhds/elements/rh-card/rh-card.js';
</script>