{# 
RHDS "Fast facts card" component from 
 * https://ux.redhat.com/patterns/card/examples/#fast-facts-card 
 * https://ux.redhat.com/elements/card/demos/#demo-promo
#}
{# TODO: We're currently not using call to action link #}
{# TODO: Image doesn't work properly so adding additional <div id="one-card-image-text"> and little bit styling#}

<rh-card class="ngui-one-card reverse" {% if image %}variant="promo"{% endif %}>
{% if image %}
  <img src="{{image}}" slot="image" aria-label="{{title}}">
{% endif %}
  <h2 slot="header">{{title}}</h2>

  <dl>
{%  for f in fields %}
      <dt>{{f.get("name")}}</dt>
      <dd>{% for item in f.get("data") %}
{{      item }}{% if not loop.last %}, {% endif %}
{%    endfor %}</dd>

{%  endfor %}
  </dl>
</rh-card>

<style>
{# https://ux.redhat.com/elements/card/demos/#demo-promo #}
rh-card[variant="promo"] {
  container-name: promo;
  container-type: inline-size;
}

@container promo (min-width: 768px) {
  .reverse::part(container) {
    grid-template-columns: 1fr 2fr;
  }

  .reverse::part(image) {
    justify-self: start;
    order: -10;
  }
}

{# Control padding #}
{% set padding = 'var(--rh-space-lg)' %}
{% if fields|length > 4 %}
{%   set padding = 'var(--rh-space-md)' %}
{% endif %}

{# https://ux.redhat.com/patterns/card/examples/#fast-facts-card #}
.ngui-one-card {
  & dl {
    display: flex;
    flex-flow: column;
    gap: {{padding}};
    margin: 0;
    padding: 0;
    list-style-type: none;
    & dd {
      margin-block: 0;
      margin-inline-start: 0;
      padding-block-end: {{padding}};
      border-block-end: 1px solid var(--rh-color-border-subtle);
      &:last-child {
        padding-block-end: 0;
        border-block-end: none;
      }
      & :first-child {
        margin-block-start: 0;
      }
      & :last-child {
        margin-block-end: 0;
      }
    }
    & dt {
      margin-block-end: 0 {{padding}};
      font-weight: var(--rh-font-weight-heading-regular);
      font-size: var(--rh-font-size-body-text-md);
      font-family: var(--rh-font-family-body-text);
      line-height: var(--rh-line-height-body-text);
    }
  }
}
</style>

<script type="module">
  import '@rhds/elements/rh-cta/rh-cta.js';
  import '@rhds/elements/rh-card/rh-card.js';
</script>
